@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.react-calendar {
    font-family: 'Inter', sans-serif !important;
}

.bgGradient {
    @apply bg-gradient-to-r from-colorPrimary via-colorPrimary to-colorPrimary;
}

/* headings */
.headingPrimary {
    @apply text-[25px] sm:text-[36px] md:text-[40px] font-bold tracking-[0.4rem];
}

.headingSecondary {
    @apply text-[20px] sm:text-[28px] font-extrabold tracking-widest;
}

.headingTertiary {
    @apply text-[18px] sm:text-[20px] font-bold tracking-widest;
}

.headingFourth {
    @apply text-[16px] sm:text-[18px] font-extrabold tracking-widest;
}

/* gradient heading */
/* .headingGradientPrimary {
    @apply text-lg font-extrabold tracking-widest bg-clip-text text-transparent bg-gradient-to-r from-colorPrimary via-colorPrimary to-colorPrimary;
} */

/* text */
.textPrimary {
    @apply text-sm sm:text-base font-normal sm:font-medium;
}

/* buttons */
.buttonPrimary {
    @apply text-colorTertiary hover:text-colorSecondary text-xs md:text-base font-bold tracking-widest uppercase border-2 border-colorTertiary hover:border-transparent bg-transparent hover:bg-gradient-to-r from-colorPrimary via-colorPrimary to-colorPrimary rounded-lg px-10 py-5 transition-all ease-in-out duration-500;
}

.buttonSecondary {
    @apply text-colorSecondary text-sm sm:text-base font-bold tracking-widest uppercase border-2 border-colorSecondary hover:border-transparent bg-transparent hover:bg-gradient-to-r from-colorPrimary via-colorPrimary to-colorPrimary rounded-lg px-10 py-4 sm:py-5 transition-all ease-in-out duration-500;
}

.buttonTertiary {
    @apply text-colorTertiary hover:text-colorSecondary text-sm sm:text-base font-semibold tracking-widest uppercase border-2 border-colorTertiary hover:border-transparent bg-transparent hover:bg-gradient-to-r from-colorPrimary via-colorPrimary to-colorPrimary rounded-lg px-10 sm:px-20 py-4 sm:py-5 transition-all ease-in-out duration-500;
}

.buttonForth {
    @apply text-colorSecondary text-sm sm:text-base font-semibold tracking-widest uppercase border-2 border-colorSecondary hover:border-transparent bg-transparent hover:bg-gradient-to-r from-colorPrimary via-colorPrimary to-colorPrimary rounded-lg px-10 sm:px-20 py-4 sm:py-5 transition-all ease-in-out duration-500;
}

.buttonSmallLight {
    @apply text-colorTertiary hover:text-colorSecondary text-xs font-medium tracking-widest capitalize border-2 border-colorTertiary hover:border-transparent bg-transparent hover:bg-gradient-to-r from-colorPrimary via-colorPrimary to-colorPrimary rounded-md px-2 py-1.5 transition-all ease-in-out duration-500;
}

.buttonFifth {
    @apply text-colorPrimary hover:text-colorSecondary text-xs sm:text-sm font-semibold tracking-widest uppercase border-2 border-colorPrimary hover:border-transparent bg-transparent hover:bg-gradient-to-r from-colorPrimary via-colorPrimary to-colorPrimary rounded-lg px-5 sm:px-10 py-1 sm:py-2 transition-all ease-in-out duration-500;
}


@keyframes continuousJumpRotate {
    0% {
      transform: rotate(25deg);
    }
    20% {
      transform: rotate(50deg); /* Rotate right */
    }
    40% {
      transform: rotate(50deg); /* Less right */
    }
    60% {
      transform: rotate(-50deg); /* Less left */
    }
    80% {
      transform: rotate(-70deg); /* Rotate left */
    }
    100% {
      transform: rotate(25deg); /* Back to original */
    }
  }
  
  .continuous-jump-rotate {
    animation: continuousJumpRotate 3s ease-in-out infinite; /* Adjust duration for speed */
  }
  
  
  @keyframes continuousRotate {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(25deg); /* Rotate right */
    }
    50% {
      transform: rotate(-25deg); /* Rotate left */
    }
    75% {
      transform: rotate(25deg); /* Rotate right */
    }
    100% {
      transform: rotate(0deg); /* Back to original */
    }
  }
  
  .continuous-rotate {
    animation: continuousRotate 3s ease-in-out infinite; /* Adjust duration for speed */
  }
  


  

  @keyframes rotateLeft25 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-25deg); /* Rotate left 25 degrees */
    }
  }
  
  @keyframes rotateLeft50 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-75deg); /* Rotate left 50 degrees */
    }
  }
  
  @keyframes rotateOriginal {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg); /* Stay at original position */
    }
  }
  
  .rotate-left-25 {
    animation: rotateLeft25 0.5s forwards; /* Rotate left 25 degrees */
  }
  
  .rotate-left-25 {
    animation: rotateLeft25 0.5s forwards; /* Rotate left 50 degrees */
  }
  
  .rotate-original {
    animation: rotateOriginal 0.5s forwards; /* Back to original */
  }
  